<p>Privateer Press®, WARMACHINE®, HORDES®, Infernals, Crucible Guard, Cygnar®, Protectorate of Menoth®, Khador®, Cryx®, Retribution of Scyrah®, Mercenaries, Convergence of Cyriss®, Trollbloods®, Circle Orboros®, Skorne®, Legion of Everblight®, Minions, Grymkin, and all associated logos and slogans are trademarks and/or intelectual property of Privateer Press, Inc.</p>
<br/>
<p>Images originating from Discord, Patreon, or Privateer Press websites are copyrighted by their respective owners. Iron Codex is not produced by or endorsed by these services. Copyrighted material is used on basis of Fair Use where applicable. Iron Codex logo was made by Freepik from www.flaticon.com</p>
<br/>
<p>All other content © 2020-2021 Iron Codex · All rights reserved</p>
